<ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="oneVsOneChoice" autoHide="false"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>



<ion-content fullscreen class="onevsone-backg">
  <gl-background-video  poster="../../../../assets/imgs/Timeline2_Moment.jpg" src="../../../../assets/videos/TimelineBackground.mp4" mute="false">
  </gl-background-video>
    <ion-searchbar *ngIf="showEnemys" (ionInput)="getItems($event)"></ion-searchbar>
    <ion-button *ngIf="onlyFriends" class="enemyonevone" color="danger" expand="block" size="large"  (click)="randomEnemy()">Zufälliger Gegner</ion-button>
    <ion-button *ngIf="!showEnemys" class="enemyonevone" expand="block" size="large" (click)="showAllPlayer()">Bestimmten Gegner finden</ion-button>
    <ng-container *ngIf="showEnemys">
    <ion-button expand="block" size="large" class="enemyonevone" (click)="showAllPlayer()">Gegner ausblenden</ion-button>
    <ion-button class="enemyonevone" *ngFor="let item of this.oneVoneService.allPlayer" expand="block" size="large" (click)="onLoadpage(item.username)" >
      {{ item.username }}
    </ion-button>
  </ng-container>
</ion-content>
