  .leaguebutton{
    --border-radius: 20px;
  }

  ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
  }

  ion-header {
    position: static;
  }

  ion-item {
    --background: transparent;
  }