<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons left>
      <ion-back-button defaultHref="offline" color="white">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content forceOverscroll="false">
  <gl-background-video  poster="../../../../assets/imgs/Timeline2_Moment.jpg" src="../../../../assets/videos/TimelineBackground.mp4" mute="false">
  </gl-background-video>
  <ion-grid>
    <ion-item class="backoffitem">Übersetze: {{voc}}</ion-item>
    <ion-row no-padding class="matrix">
      <ion-col class="q1">
        <div class="q-header">Drag&Drop</div>
        <ion-content scrollX="true">
          <ion-list dragula="bag" [(dragulaModel)]="q1" lines="none">
              <span class="item-border" *ngFor="let item of q1">
                {{ item.value }}
              </span>
          </ion-list>
        </ion-content>
      </ion-col>


    </ion-row>
    <ion-row no-padding class="matrix">
      <ion-col class="q1">
        <div class="q-header">Übersetzung</div>
        <ion-list dragula="bag" [(dragulaModel)]="q13" lines="none">
              <span class="item-border" *ngFor="let item of q13">
                {{ item.value }}
              </span>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="block" (click)="addTodo()">
    <ion-icon name="checkmark" slot="start"></ion-icon>
    Bestätigen
  </ion-button>
</ion-content>
