.play-list {
  height: 50px;
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-header {
  position: static;
}

.home-button {
  --border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.home-buttonend {
  margin-left: 10px;
  margin-right: 10px;
  --border-radius: 20px;
}

.home-buttonNotTurn {
  margin-left: 10px;
  margin-right: 10px;
  --border-radius: 20px;
}

.home-col {
  margin-left: 10px;
  margin-right: 10px;
  --border-radius: 20px;
}

.endgames {
  --margin-top: 10px;
}
