<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen class="home-backg">
  <ion-grid>
    <ion-badge class="home-button" color="primary" expand="block" size="large" *ngIf="userName!=null">
      Eingeloggt als: {{userName}}
    </ion-badge>
    <ion-row>
      <ion-col col-6>
        <ion-button class="home-button" icon-left expand="block" size="large" (click)="openPage('league')">
          <ion-icon name="trophy"></ion-icon>
          Liga
        </ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button class="home-button" expand="block" size="large" (click)="openPage('online-list')">
          Vokabeln
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-button icon-left="true" class="home-button" size="large" expand="block"
                    (click)="openPage('oneVsOneChoice')">
          <ion-icon name="school"></ion-icon>
          1 vs 1
        </ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button class="home-button" expand="block" size="large" (click)="openPage('offline')">Offline</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-badge color="primary" class="home-button" expand="block">
    Offene Spiele
  </ion-badge>
  <ion-content class="play-list" style="width:100%;height:30vh" scrollY="true">
    <ion-list>
      <ion-button icon-left class="home-button" expand="block" size="large"
                  *ngFor="let opengames of openOwnVocGames | async" (click)=" onLoadOwnVocGame(opengames)"
                  [color]="!opengames.userTurn ? 'primary' : 'success'">
        <ion-icon name="hammer"></ion-icon>
        Gegner: {{ opengames.enemy }}
      </ion-button>
      <ion-button icon-left class="home-button" expand="block" size="large" *ngFor="let opengames of openGames | async"
                  (click)="onLoadOnevsOneGame(opengames)" [color]="!opengames.userTurn ? 'primary' : 'success'">
        <ion-icon name="school"></ion-icon>
        Gegner: {{ opengames.enemy }}
      </ion-button>
      <ion-button class="home-button" expand="block" size="large"
                  *ngFor="let opentrainingsgames of openTrainingsGames | async"
                  (click)="onLoadTrainingsGame(opentrainingsgames)"
                  [color]="!opentrainingsgames.userTurn ? 'primary' : 'success'">
        Gegner: {{ opentrainingsgames.enemy }}
      </ion-button>
      <ion-button icon-left class="home-buttonNotTurn" expand="block" size="large"
                  *ngFor="let opengamesnotturn of openOwnVocGamesNotTurn | async"
                  (click)="onLoadOwnVocGame(opengamesnotturn)"
                  [color]="!opengamesnotturn.userTurn ? 'primary' : 'success'">
        <ion-icon name="hammer"></ion-icon>
        Gegner: {{ opengamesnotturn.enemy }}
      </ion-button>
      <ion-button icon-left class="home-buttonNotTurn" expand="block" size="large"
                  *ngFor="let opengamesnotturn of openGamesNotTurn | async"
                  (click)="onLoadOnevsOneGame(opengamesnotturn)"
                  [color]="!opengamesnotturn.userTurn ? 'primary' : 'success'">
        <ion-icon name="school"></ion-icon>
        Gegner: {{ opengamesnotturn.enemy }}
      </ion-button>
      <ion-button class="home-buttonNotTurn" expand="block" size="large"
                  *ngFor="let opentrainingsgamesnotturn of openTrainingsGamesNotTurn | async"
                  (click)="onLoadTrainingsGame(opentrainingsgamesnotturn)"
                  [color]="!opentrainingsgamesnotturn.userTurn ? 'primary' : 'success'">
        Gegner: {{opentrainingsgamesnotturn.enemy }}
      </ion-button>
    </ion-list>
  </ion-content>

  <ion-badge class="home-button" expand="block">
    Beendete Spiele
  </ion-badge>

  <ion-content class="play-list" style="width:100%;height:25vh;background-color:transparent" scrollY="true">
    <ion-list>
      <ion-button icon-left class="home-buttonend" expand="block" size="large"
                  *ngFor="let finishedgames of finishedOwnVocGames | async"
                  [color]="finishedgames.result=='Unentschieden' ? 'light' : finishedgames.result=='Gewonnen' ? 'success' : 'danger'">
        <ion-icon name="school"></ion-icon>
        {{finishedgames.pointsUser}} : {{finishedgames.pointsEnemy}} gegen {{finishedgames.enemy}}
      </ion-button>
      <ion-button icon-left class="home-buttonend" expand="block" size="large"
                  *ngFor="let finishedgames of finishedGames | async"
                  [color]="finishedgames.result=='Unentschieden' ? 'light' : finishedgames.result=='Gewonnen' ? 'success' : 'danger'">
        <ion-icon name="school"></ion-icon>
        {{finishedgames.pointsUser}} : {{finishedgames.pointsEnemy}} gegen {{finishedgames.enemy}}
      </ion-button>
      <ion-button class="home-buttonend" expand="block" size="large"
                  *ngFor="let finishedtrainingsgames of finishedTrainingsGames | async"
                  [color]="finishedtrainingsgames.result=='Unentschieden' ? 'light' : finishedtrainingsgames.result=='Gewonnen' ? 'success' : 'danger'">
        {{finishedtrainingsgames.pointsUser}} : {{finishedtrainingsgames.pointsEnemy}} gegen
        {{finishedtrainingsgames.enemy}}
      </ion-button>
    </ion-list>
  </ion-content>
</ion-content>

