
  .name-backg::-moz-placeholder {
    color: #fafafa;
  }

  .name-backg:-ms-input-placeholder {
    color: #fafafa;
  }

  .name-backg::-webkit-input-placeholder {
    color:  #fafafa;
  }

  .name-div{
    margin-top: 50%;
  }

  .name-nav{
    background: rgba(0, 0, 0, 0.1);
    color: black;
  }


  .text-input::-moz-placeholder {
    color: #fafafa;
  }

  .text-input:-ms-input-placeholder {
    color: #fafafa;
  }

  .text-input::-webkit-input-placeholder {
    color:  #fafafa;
  }

  .text-input{
    background: transparent;
    color: white;
  }

  .input-wrapper{
    background-color: transparent;
  }

  .item{
    --background: transparent;
  }

  .name-button{
    border-radius: 20px;
  }

  .c-name {
    color: white;
    margin-right: 20px;
  }
