
<ion-header>
  <ion-navbar color="backLight">
    <ion-title>Englisch-Liga</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="english-league-backg">
  <button  large block ion-button (click)="onLoadgame()">
  Starten
  </button>

  <ion-segment [(ngModel)]="englishLeagues" color="white">
    <ion-segment-button value="gold">
      Gold
    </ion-segment-button>
    <ion-segment-button value="silber">
      Silber
    </ion-segment-button>
    <ion-segment-button value="bronze">
      Bronze
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="englishLeagues" color="backLight">
    <ion-item *ngSwitchCase="'gold'"  color="backLight">
      <ion-list *ngFor="let item of arrayPoints">
        <ion-item *ngIf="item.league=='gold'">
          <ion-icon name="heart"></ion-icon>
          {{item.points}}  {{item.name}}
        </ion-item>
      </ion-list>
    </ion-item>

    <ion-item *ngSwitchCase="'silber'" color="backLight">
      <ion-list *ngFor="let item of arrayPoints">
        <ion-item *ngIf="item.league=='silver'" color="backLight">
          <ion-icon name="heart"></ion-icon>
          {{item.points}}  {{item.name}}
        </ion-item>
      </ion-list>
    </ion-item>

    <ion-item *ngSwitchCase="'bronze'" color="backLight">
      <ion-list *ngFor="let item of arrayPoints">
        <ion-item *ngIf="item.league=='bronze'" color="backLight">
          <ion-icon name="heart"></ion-icon>
          {{item.points}}  {{item.name}}
        </ion-item>
      </ion-list>
    </ion-item>
  </div>
</ion-content>
