ion-content{
    --background: rgb(41, 41, 41);
}

ion-menu {
    --background: rgb(41, 41, 41);
}

.splash {
    // --background: url('../assets/imgs/splashy.png') 0 0/100% 100% no-repeat;
    position: absolute;
    background: yellow;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }