  // .before-backg{
  //   background-image: url('.. /assets/imgs/backpic.png');
  //   background-repeat: no-repeat;
  //   background-size:cover;
  // }

  // .before-item{
  //   background: rgba(255, 255, 255, 0.1);
  //   color: white;
  // }

  ion-button {
    margin: 1px;
  }

  :host(.button-block) .button-native {
    padding: 12px;
  }

  ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
  }

  ion-item {
    --background: transparent
  }