
  .new-background-color{
    --background: rgb(61, 61, 61);
  }
  
  .header-button{
    --color: white;
  }

  ion-button.backoffitem{
    background: rgba(255, 255, 255, 0.1);
    color: white;
    width: 100%;
    //background-color: transparent;
  }

  ion-back-button{
    --color: white;
  }

  ion-content {
    --background: url('../../../assets/imgs/backpic.png') 0 0/100% 100% no-repeat;;
  }

  ion-list{
    --ion-item-background: transparent!important;
  }

  ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
  }

  ion-header {
    position: static;
  }