<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="beforeOneVsOneGame" autoHide="false"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen class="create-voc-backg">
  <gl-background-video  poster="../../../../assets/imgs/Timeline2_Moment.jpg" src="../../../../assets/videos/TimelineBackground.mp4" mute="false">
  </gl-background-video>
  <ion-row>
    <ion-col col-6>
      <ion-item lines="none" *ngIf="listName!=undefined" color="backLight">
        <ion-label *ngIf="listName!=undefined">{{listName}}</ion-label>
        <ion-item floating>Listenname</ion-item>
      </ion-item>
    </ion-col>
    <ion-col col-6>
      <ion-button color="light" *ngIf="listName!=undefined" icon-only (click)="changeName()">
        <ion-icon name="build"></ion-icon>
      </ion-button>
      <ion-button color="light" *ngIf="listName!=undefined" icon-only (click)="helpMe()">
        <ion-icon name="help"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <form #f="ngForm">
    <ion-item lines="none" color="backLight">
      <ion-input
        color="backLight"
        *ngIf="listName==undefined"
        name="listName"
        required
        placeholder="Listenname"
        ngModel>
      </ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <ion-item lines="none" color="backLight">
            <ion-input
              class="text-input"
              placeholder="Neue Vokabel"
              autofocus
              ngModel
              name="voc"
              required></ion-input>
          </ion-item>
          <ion-item lines="none" color="backLight">
            <ion-input
              class="text-input"
              placeholder="Übersetzung"
              autofocus
              ngModel
              name="trans"
              required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <ion-button color="light" [disabled]="!f.valid" (click)="addVocabulary(f)">Add</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-content class="voc" style="width:100%;height:25vh" scrollY="true">
      <ion-list color="backLight">
        <ion-item-sliding *ngFor="let voc of Vocabulary ">
          <ion-item lines="none" color="backLight">
            {{voc.voc }} || {{ voc.trans}}
          </ion-item>
          <ion-item-options>
            <ion-button color="danger" type="button" (click)="remove(voc)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-content>
  </form>
</ion-content>
