// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.alert-button {
  color: white !important;
  background: green !important;
}

.alert-head {
  --background: black!important;
  color: white!important;
  border-radius: 20px;
}

.alert-title.sc-ion-alert-md {
  color: white!important;
}

.alert-sub-title.sc-ion-alert-md {
  color: white!important;
}

.alert-wrapper.sc-ion-alert-md {
    border: 1px solid;
}

