<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="offline" autoHide="false"></ion-back-button>
          <ion-label class='header-label' style="margin-left: 30px;">Wähle dein Modus aus</ion-label>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list>
        <ion-radio-group (ionChange)="onlineOrOfflineChange($event)">
          <ion-list-header>
            <ion-label class='header-label'>Offline oder Online lernen?</ion-label>
          </ion-list-header>
      
          <ion-item>
            <ion-label>Offline</ion-label>
            <ion-radio slot="start" value="offline" checked></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Online</ion-label>
            <ion-radio slot="start" value="online"></ion-radio>
          </ion-item>
    
        </ion-radio-group>
      </ion-list>
    <ion-list>
      <ion-radio-group  (ionChange)="radioGroupChange($event)">
        <ion-list-header>
          <ion-label class='header-label'>Welche Richtung?</ion-label>
        </ion-list-header>
    
        <ion-item>
          <ion-label>Eigene Sprache zu Fremdsprache</ion-label>
          <ion-radio slot="start" value="tranToVoc" checked></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Fremdsprache zu eigener Sprache</ion-label>
          <ion-radio slot="start" value="vocToTran"></ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-list>
    <ion-grid>
        <ion-row>
          <ion-col size="6">
        <ion-button class="button2 ion-text-wrap"  type='submit' (click)="startNormal()">
            <img src="assets/imgs/richtig.jpg" style="width : 100% ; height : 100%" ng-click="nextpage()" >
        </ion-button>
          </ion-col>
          <ion-col size="6">
        <ion-button class="button2 ion-text-wrap" type='submit' (click)="startTraining()">
            <img src="assets/imgs/trainMod2.png" style="width : 100% ; height : 100%" ng-click="nextpage()" >
        </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
