<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="offline" autoHide="false"></ion-back-button>
      <ion-label class='header-label' style="margin-left: 30px;">Vokabeln</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen class="onevsone-choice-backg">
  <gl-background-video  poster="../../../../assets/imgs/Timeline2_Moment.jpg" src="../../../../assets/videos/TimelineBackground.mp4" mute="false">
  </gl-background-video>
  <ion-content class="league-language" style="width:100%;height:75vh" scrollY="true">
    <ion-button class="onevonebutton" expand="block" size="large" (click)="open('Englisch')">
      Englisch
    </ion-button>
    <ion-button class="onevonebutton" expand="block" size="large" (click)="open('Spanisch')">
      Spanisch
    </ion-button>
    <ion-button class="onevonebutton" expand="block" size="large" (click)="open('Französisch')">
      Französisch
    </ion-button>
    <ion-button class="onevonebutton" expand="block" size="large" (click)="open('Italienisch')">
      Italienisch
    </ion-button>
  </ion-content>
</ion-content>
